#num2ro,#num4ro {
	vertical-align: bottom;
}
#num2ol {
	background: url(../img/2.png) no-repeat center;
	background-size: contain !important;
	height: 5.6vw;
	position: relative;
	left: -2.475vw;
	top: -1.65vw;
	width: 4.65vw;
}
#num4ol {
	background: url(../img/4.png) no-repeat center;
	background-size: contain !important;
	height: 5.53vw;
	position: relative;
	left: 28.52vw;
	top: -1.65vw;
	width: 4.12vw;
}
#num8ol {
	background: url(../img/8.png) no-repeat center;
	background-size: contain !important;
	height: 5.73vw;
	position: relative;
	left: -2.475vw;
	top: 13vw;
	width: 4.8vw;
}
#num10ol {
	background: url(../img/10.png) no-repeat center;
	background-size: contain !important;
	height: 5.73vw;
	position: relative;
	left: 26.875vw;
	top: 12vw;
	width: 7.26vw;
}
#num2ro {
		background: url(../img/ro2.png) no-repeat center/contain;
}
#num4ro {
	background: url(../img/ro4.png) no-repeat center/contain;
}
#num8ro {
	background: url(../img/ro8.png) no-repeat center/contain;
}
#num10ro {
	background: url(../img/roX.png) no-repeat center/contain;
}
/*@media (max-width: 992px) {
	#num2ro:link,#num2ro:visited {
		background: url(../img/ro2.png) no-repeat center/contain;
	}
	#num4ro:link,#num4ro:visited {
		background: url(../img/ro4.png) no-repeat center/contain;
	}
	#num8ro:link,#num8ro:visited {
		background: url(../img/ro8.png) no-repeat center/contain;
	}
	#num10ro:link,#num10ro:visited {
		background: url(../img/roX.png) no-repeat center/contain;
	}
}
@media (min-width: 768px) {
	#num2ro:link,#num2ro:visited {
		background: url(../img/ro2.png) no-repeat center/contain;
	}
	#num4ro:link,#num4ro:visited {
		background: url(../img/ro4.png) no-repeat center/contain;
	}
	#num8ro:link,#num8ro:visited {
		background: url(../img/ro8.png) no-repeat center/contain;
	}
	#num10ro:link,#num10ro:visited {
		background: url(../img/roX.png) no-repeat center/contain;
	}
	#num2ro:hover,#num2ro:active {
		background: url(../img/ro2.png) no-repeat center/contain;
	}
	#num4ro:hover,#num4ro:active {
		background: url(../img/ro4.png) no-repeat center/contain;
	}
	#num8ro:hover,#num8ro:active {
		background: url(../img/ro8.png) no-repeat center/contain;
	}
	#num10ro:hover,#num10ro:active {
		background: url(../img/roX.png) no-repeat center/contain;
	}
}*/